# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
terraform.tfvars
db-infra/db/.terraform/providers/registry.terraform.io/hashicorp/google/6.14.1/darwin_amd64/terraform-provider-google_v6.14.1_x5
db-infra/db/.terraform/providers/registry.terraform.io/hashicorp/google/6.14.1/darwin_amd64/LICENSE.txt
db-infra/db/gcloud-service-account.json
.terraform/providers/registry.terraform.io/hashicorp/google/6.14.1/darwin_amd64/terraform-provider-google_v6.14.1_x5
.env
gcloud-service-account.json
.terraform/
terraform.tfstate.backup
terraform.tfstate
